.ModalLayout {
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
  overflow: auto;
	background-color: rgba(0,0,0,0.7);
}

.ModalLayout-content {
  position: relative;
	min-width: 50%;
	width: 940px;
  height: fit-content;
  margin: auto;
	border-radius: 10px;
	overflow: auto;
	background-color: white;
}