body:has(.SpinerLayout) {
  overflow: hidden;
}

.SpinnerLayout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.SpinnerLayout-spinner {
  width: 70px;
  height: 70px;
  border: 5px dotted #fff;
  border-radius: 50%;
  border-top: transparent;
  animation: spin 1.3s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}