.Item {
  display: flex;
  justify-content: flex-start;
	align-items: center;
  transition: background-color 1s;
	border-bottom: 1px dashed #ccc;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  margin-right: auto;
  padding: 20px 10px;
}

.Item-cartprice {
  margin-right: 42px;
	padding: 20px 10px;
	font-size: 18px;
}

.Item-quantity {
	padding: 20px 10px;
	font-size: 18px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Item-actions button {
	padding: 3px 9px;
}